In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("data_for_lr.csv")

In [4]:
data.head(10)

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984
5  36.0  32.463875
6  12.0  10.780897
7  81.0  80.763399
8  25.0  24.612151
9   5.0   6.963319

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

In [6]:
data.isna().sum()

x    0
y    1
dtype: int64

## Data Processing

In [8]:
data.dropna(inplace = True)
data.shape

(699, 2)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       699 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 16.4 KB

## Splitting Data

In [13]:
# Training input and output
train_x = np.array(data.x[0:500]).reshape(500,1)
train_y = np.array(data.y[0:500]).reshape(500,1)

In [20]:
# Test data input and output
test_x = np.array(data.x[500:]).reshape(199,1)
test_y = np.array(data.y[500:]).reshape(199,1)

In [22]:
print("Training X ",train_x.shape)
print("Training Y ",train_y.shape)
print("Tesing X ",test_x.shape)
print("Testing Y ",test_y.shape)

Training X  (500, 1)
Training Y  (500, 1)
Tesing X  (199, 1)
Testing Y  (199, 1)

# <font color="green">Linear Regression</font>

## Forward Propogation
### Hypothesis : - f(x) = m*x + c

In [23]:
def forward_prop(train_x, parameters):
    m = parameters["m"]
    c = parameters["c"]
    
    predictions = np.multiply(m, train_x) + c
    
    return predictions

## Cost Function
Cost fn = 1/2n * sum(predicted(y) - actual(y))^2

In [24]:
def cost_func(predictions, train_y):
    
    cost = np.mean((predictions - train_y)**2) * 0.5
    return cost

## Gradient Descent for BackPropagation

In [26]:
def back_prop(train_x, train_y, predictions):
    
    derivatives = dict()
    
    df = np.mean(predictions-train_y)
    dm = np.multiply(df,train_x)
    dc = df
    
    derivatives["dm"] = dm
    derivatives["dc"] = dc
    
    return derivatives

## Update Parameters
<p>m_new = m - (learning func) * dm <br>
c_new = c - (learning func) * dc

In [29]:
def update_param(parameters, derivatives, learning_rate):
    parameters["m"] = parameters["m"] - learning_rate * derivatives["dm"]
    parameters["c"] = parameters["c"] - learning_rate * derivatives["dc"]
    
    return parameters